.button_list {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  &.dark {
    background-color: #fff;
  }
}

.btn {
  padding: 6px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }
}

.arrow {
  padding: 6px;
  background-color: transparent;
  border-radius: 3px;
  &:disabled {
    color: #ccc;
  }
}
.btn.active {
  background-color: black;
  color: aliceblue;
}
