:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0b0b0b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  font-style: italic;
  white-space: nowrap;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fbfafa;
  cursor: pointer;
  &.dark {
    color: #fbfafa;
    background-color: #4e4e4e;
  }
}
button:hover {
  border-color: #4e4e4e;
  &.dark:hover {
    border-color: #f8cdcd;
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  height: 100vh;
  height: 100dvh;

  &.dark {
    color: aliceblue;
    background-color: rgb(28, 16, 16);
  }
}
